{% extends "base.html" %}

{% block app_content %}

<div>
<h2>{{ cam_status.name }}___</h2>
<div class="container">
  <table class="table table-striped table-hover table-condensed">
    <tr>
      <th>
      Power: 
      </th>
      <th>
        <label>
          {% if cam_status.is_on == True %}
          <span class="glyphicon glyphicon-off" style="color:green ; font-size:1.5em"></span>
          {% elif cam_status.is_on == False %}
          <span class="glyphicon glyphicon-off" style="color:gray ; font-size:1.5em"></span>
          {% elif cam_status.is_on == None %}
          <span class="glyphicon glyphicon-off" style="color:whitesmoke ; font-size:1.5em"></span>
          {% endif %}
        </label>
      </th>
      <th>
        Wifi link:
      </th>
      <th> 
          {% if cam_status.online == none %}
          <button type="button" class="btn btn-light">?</button>
          {% elif cam_status.online == true %}
          <button type="button" class="btn btn-success">&nbsp;</button>
          {% elif cam_status.online == false %}
          <button type="button" class="btn btn-danger">&nbsp;</button>
          {% endif %}
        </th>
        </tr>
        <tr>
          <th>
            Capture mode: 
          </th>
          <th>
            {% if cam_status.system_mode == "capture" %}
            <span style="color:green">Photo</span>
            {% elif cam_status.system_mode == "record" %}
            <span style="color:red">Video</span>
            {% endif %}
          </th>
          <th>Clock: </th>
          <th>{{ cam_status.clock }}</th>
        </tr>
  <tr>
    <th>
    Battery:
  </th>
  <th>
     {% if cam_status.battery_level < 20 %}
     <span style="color:red">{{ cam_status.battery_level }}%</span>
     {% else %}
     {{ cam_status.battery_level }}%
     {% endif %}
    </th>
    <th>
      ext pwr:
    </th>
    <th>
    {% if cam_status.ext_powered == True %} 
    <span class="glyphicon glyphicon-flash" style="color:green ; font-size:1.5em"></span>
    {% elif cam_status.ext_powered == False %}
    <span class="glyphicon glyphicon-flash" style="color:gray ; font-size:1.5em"></span>
    {% elif cam_status.ext_powered == None %}
    <span class="glyphicon glyphicon-flash" style="color:whitesmoke ; font-size:1.5em"></span>
    {% endif %}
  </th>
  
  </tr>
  <tr>
    <th>
    SD free space:
  </th>
  <th>
    {{ cam_status.free_space }}GB ({{ cam_status.percent_space }}%)
    </th>
    <th>
      total space: 
      </th>
      <th>
        {{ cam_status.total_space }}GB
      </th>
    </th>
  </tr>
  <tr>
    <th>
    Capture size:
  </th>
  <th>
     {{ cam_status.image_size }}
    </th>
    <th>metering:
    </th>
    <th>
       {{ cam_status.meter_mode }} 
       </th>
  </tr>
  </table>
</div>

{% endblock %}
