{% extends "base.html" %}

{% block app_content %}
        <div><p>
                <a href="{{ url_for('web_pwr_up') }}">Power up all cams</a><br />
                <a href="{{ url_for('web_pwr_down') }}">Power down all cams</a>
                <div class="bs-example">
                        {% for cam_status in cams_status %}
                                {% if cam_status.status == none %}
                                <button type="button" class="btn btn-light">?</button>
                                {% elif cam_status.status == true %}
                                <button type="button" class="btn btn-success">&nbsp;</button>
                                {% elif cam_status.status == false %}
                                <button type="button" class="btn btn-danger">&nbsp;</button>
                                {% endif %}
                        {% endfor %}
                    
                    </div>
        </p></div>
        <div><p>
                <a href="{{ url_for('web_send_settings') }}">Send settings to all cams</a><br />
                <a href="{{ url_for('web_set_clocks') }}">Set clocks for all cams</a><br />
                <a href="{{ url_for('web_ping')  }}">ping</a>
        </p></div>
{% endblock %}